<div class="row">
    <form class="form-group col-md-4 offset-md-4" >
        <label>newPassword:</label>
        <input class="form-control" type="password" placeholder="enter newPassword" [(ngModel)]=details.newPass name="passs"><br>
        <label>confirmpassword:</label>
        <input class="form-control" type="password" placeholder="confirm password" [(ngModel)]=details.conformPass name="cPass"><br>
        <button (click)="changePass()" class="btn btn-primary">updatePassword</button>
        <span>
            {{msg}}
        </span><br><br>
        <button (click)="back()" class="btn btn-primary">cancel</button>

    </form>
</div>